.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

@media screen and (min-width: 760px) {
    .mobile-menu-open-btn {
        display: none;
    }
}


// .header__container {
//     display: flex;
//     align-items: center;

// }