.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-img.jpg);
    background-color: var(--background-color-hero);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}

.hero__title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-text-color-dark-theme);
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}