address {
    font-style: normal;
}

.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.contact-address {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color-dark-theme);
}

.contact-mail,
.contact-number {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secomdary-text-color-dark-theme);
    transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}