.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: block;
}

.header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo__dark {
    color: var(--logo-header-dark-color);
}

.footer__logo {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    text-align: center;
}

.logo__light {
    color: var(--primery-text-color-dark-theme);
}

@media screen and (min-width: 768px) {
    .header__logo {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 88px;
    }
}


@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19;
    }

    .header__logo {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }

    .footer__logo {
        text-align: start;
    }

}