:root {
    --primery-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primery-text-color-light-theme: #757575;
    --secomdary-text-color-light-theme: #212121;
    --additional-text-color-light-theme: #AFB1B8;
    --primery-text-color-dark-theme: #FFFFFF;
    --secomdary-text-color-dark-theme: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --background-color-dark-theme: #2F303A;
    --background-color-light-theme: #F5F4FA;
    --logo-header-dark-color: #000;
    --accent-color-button-focus: #188CE8;
}
